

#home{

height: 100vh;
color: white;
background: linear-gradient(to bottom, darkviolet, pink);
}

#skills{

margin-top: 70px;
background: (to bottom, white, skyblue);


}



#contain{
justify-content: center;
text-align: center;
margin-top: 200px;

}

#containerhome{

padding-top: 150px;

}
#about{

    background: linear-gradient(to bottom, pink, white);

}


#homee, #aboutt, #skillss, #projectss, #contactt{

    color: white;
}

#htmll, #csss, #bootstrapp, #jss{

    background-color: skyblue;
}

#project1, #project2, #project3{

background-color: skyblue;

}

#projects{

background: linear-gradient(to bottom, white, pink, violet);

}

#skills{


}